* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
