* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #F6F8FA;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
