* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #5A6F07;
  font-weight: 500;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
